@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .input {
    @apply px-4 py-2 border border-[#D7DFE9] rounded-[4px] outline-none;
  }
  svg {
    max-width: 100%;
    vertical-align: middle;
  }
  .svg-pi {
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
  }
  .svg-pi-track {
    stroke: #ddd;
  }
  /* 1 */
  /* .svg-pi-indicator {
    stroke: #3b83f6;
    stroke-dashoffset: 219.8px;
    stroke-dasharray: 251.2px;
  } */
  /* 2 */
  .svg-pi-indicator {
    stroke: #3b83f6;
    /* stroke-dashoffset: 188.4px; */
    stroke-dasharray: 251.2px;
  }

  .svg-pi-track,
  .svg-pi-indicator {
    fill: transparent;
    stroke-width: 8px;
  }
}
